@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&family=Nunito:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html{
    font-size: 62.5%;
}

.menuLinks{
    background-color: #020D3F;
    display: flex;
    justify-content: space-evenly;
    width:100%;
    height: 4.5rem;
    align-items: center;
    position: fixed;
    bottom: 0px;
    border-top: 2px solid white;
    & a{
        color: white;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p{
            font-size: 1rem;
        }
        .active {
            background-color: #3a3a3a;
            padding: 2rem;
            width: 20rem;
            color: red;
        }
    }
}
