html{
    overflow-y: scroll;
}

.container{
    background-color: #020D3F;
    /* height: 80vh; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    gap: 10px;
    color: white;
    margin-bottom: 4.5rem;
    overflow-y: auto;
    max-height: 100vh;
}
.cabecalho{
    grid-column: 1/13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    & h1{
        font-size: 1.7rem;
    }
    & p{
        font-size: 1.7rem;
    }
    /* & .titulo{
        position: relative;
        top: 1rem;
    } */
    & .raioDeBusca{
        display: flex;
        & p{
            margin: 0.5rem;
        }
    }
    
} 
          
ul{
    grid-column: 1/13;
    grid-row: 2;
    border-radius: 2rem 2rem 0 0;
    background-color: white;
    color: black;
    overflow-y: auto;
    
    & li{
        margin: 1rem;
    }
    & strong{
        font-size: 1.5rem;
    }
    & p{
        font-size: 1.3rem;
    }
    & button{
        background-color: #020D3F;
        color: white;
        border-radius: 5rem;
        width: 10rem;
        font-size: 1.2rem;
        box-shadow: 3px 3px black;
    }
    & hr{
        width: 100%;
        margin: 0.5rem 0;
    }
}